.alldivcount{
    background-color: #fff;
    padding: 30px;
}


.alldivcount .countdown{
    display: flex ;
    justify-content: space-around;
    text-align: center;
}

.alldivcount .img1{
    height: 70vh;
    width: 550px;
    object-fit: cover;
}
 

.alldivcount .time{
    padding: 20px 40px;
}

.alldivcount .right{
    text-align: center;
    margin-top: 100px;
}
.alldivcount .hll{
    cursor: pointer;
}
.alldivcount .h5{
    margin-bottom: -40px !important;
    font-weight: bold;
    color: #272729ab;
    font-size: 30px;
    letter-spacing: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    clip-path: polygon(0 0,100% 0,100% 100%,50% 0,0 100%);
    transition: .5s;
}
.alldivcount .h5t{
    margin-bottom: 50px;
    font-weight: bold;
    color: #272729ab;
    font-size: 30px;
    letter-spacing: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    clip-path: polygon(0 100%,50% 0,100% 100%,100% 100%,0 100%);
    transition: .5s;
}
.alldivcount .hll:hover .h5{
    transform: translateY(-10px);
}
.alldivcount .hll:hover .h5t{
    transform: translateY(10px);
}

.alldivcount .timer{
    color: #707ea7;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 6px;
}

.alldivcount .alltimecount{
    border: 1px solid #000000;
    padding: 6px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.alldivcount .alltimecount .dys{
    margin-left: 30px;
}
.alldivcount .alltimecount .hrs{
    margin-left: 15px;
    text-align: left;
}
.alldivcount .alltimecount .mnt{
    margin-left: 15px;
}
.alldivcount .alltimecount .scd{
    margin-left: 15px;
}

.alldivcount .white{
    position: relative;
    width: 550px;
    height: 70vh;
    background-color: #fff;
}

.alldivcount .countdowndiv{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media(max-width:576px){
    .alldivcount .alltimecount{
        width: 300px;
        font-size: 13px;
    }
    .alldivcount .timer{
        font-size: 17px;
    }
    .alldivcount .alltimecount .dys{
        margin-left: 10px;
    }
}

@media(max-width : 992px) and (min-width:576px){
    .alldivcount{
        text-align: center;
    }
    .alldivcount .white{
        text-align: center;
        margin: auto;
    }
    .alldivcount .time{
        width: 400px;
    }
}