@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

header{
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1111;
  background-color: white;
}
header .all-link a{
  font-weight: 600;
    margin-left: 30px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    line-height: 26px;
      background-image: linear-gradient(
        to right,
        #4B79A1,
        #283E51 50%,
        #000 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
  }
  header a:before {
    content: '';
    background: #000000;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
  }
  header a:hover {
    background-position: 0;
   }
  header a:hover ::before {
    width: 100%;
  }
  header .left img{
    cursor: pointer;
  }

  header .right .bagicon{
    position: relative;
  }
  header .right p{
    position: absolute;
    background-color: #012755;
    color: #fff;
    font-size: 10px;
    padding:3px 6px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    left: 16px;
  }
 
header img{
    cursor: pointer;
  }

header i{
    font-size: 26px !important;
    color: rgb(180, 175, 175);
    position: relative;
    cursor: pointer;
  }

header .burgermenu{
  display: none;
}  



  @media(max-width:576px){
    header .container{
        padding: 0 2rem !important;
    }
    header .center{
        display: none;
    }
    header .right{
        display: flex;
    }
    header .right i{
        margin: 0 !important;
    }
    header .burgermenu{
      display: block;
    }  
  }


  @media(max-width : 992px) and (min-width:576px) {
    header .container{
        padding: 0 1rem !important;
    }
    header .center{
        display: none;
    }
    header .right{
        display: flex;
    }
    header .right i{
        margin: 0 !important;
    }
    header .all{
        display: flex !important;
    }
    header .burgermenu{
      display: block;
    }  
  }


